1) Get the keys from the dictionaries named *sample_dic* as a list
```
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
```

In [ ]:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}

print(list(sample_dict.keys()))

['Physics', 'Math', 'history']

2) Get sum of all the values in a dict

```
#Input:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75,
    'chemistry': 89,
    'GK': 50
    
}

#Expected Output: 361

```

In [ ]:
# Input:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75,
    'chemistry': 89,
    'GK': 50

}

# Expected Output: 361

print(sum(list(sample_dict.values())))

361

3)Get the key of a minimum value from the following dictionary

```
#Input:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

#Expected Output: Math

```

In [ ]:
# Input:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

# Expected Output: Math

value = min(list(sample_dict.values()))
for key in list(sample_dict.keys()):
  if sample_dict[key] == value:
    print(key)
  else:
    continue

Math

4) Delete a list of keys from a dictionary
```
#Inputs:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"
}

# Keys to remove
keys = ["name", "salary"]

# Expected Output: {'city': 'Baku', 'age': 23}
```

In [ ]:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"
}

keys = ["name", "salary"]

while keys:
  sil = keys.pop()
  del sample_dict[sil]

print(sample_dict)

{'age': 23, 'city': 'Baku'}

5) Create a dictionary by extracting the keys from a given dictionary

```
# Inputs:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"}

# Keys to extract
keys = ["name", "salary"]

# Expected Output: {'name': 'Khalid', 'salary': 1000}
```

In [ ]:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"
}

keys = ["name", "salary"]
new = {}
flag = True
while flag:
  key = keys.pop()
  temp = {key: sample_dict.get(key)}
  new.update(temp)
  if len(keys) == 0:
    flag = False
  else:
    continue

print(new)

{'salary': 1000, 'name': 'Khalid'}

6) Take 10 integers from keyboard using loop and print their average value
on the screen.

In [ ]:
count = 0
listim = []
while count < 10:
  num = int(input('enter a number: '))
  listim.append(num)
  count += 1
print(sum(listim) / len(listim))

enter a number: 5
enter a number: 5
enter a number: 5
enter a number: 5
enter a number: 5
enter a number: 7
enter a number: 7
enter a number: 7
enter a number: 7
enter a number: 7
6.0

7) Print multiplication table of 24 using loop.

In [ ]:
def bol24():
  first = 24
  second = 24
  listimiz = []

  while second > 0:
      result = first * second
      listimiz.append(f'{first} * {second} = {result}')
      second -= 1

  while listimiz:
    print(listimiz.pop())

bol24()

24 * 1 = 24
24 * 2 = 48
24 * 3 = 72
24 * 4 = 96
24 * 5 = 120
24 * 6 = 144
24 * 7 = 168
24 * 8 = 192
24 * 9 = 216
24 * 10 = 240
24 * 11 = 264
24 * 12 = 288
24 * 13 = 312
24 * 14 = 336
24 * 15 = 360
24 * 16 = 384
24 * 17 = 408
24 * 18 = 432
24 * 19 = 456
24 * 20 = 480
24 * 21 = 504
24 * 22 = 528
24 * 23 = 552
24 * 24 = 576

8) Factorial of any number n is represented by n! and is equal to 1*2*3*....*(n-1)*n.

Write a program to calculate factorial of a number.

```
4! = 1*2*3*4 = 24
3! = 3*2*1 = 6
2! = 2*1 = 2

Also,
1! = 1
0! = 1
```

In [ ]:
eded = int(input())

h = 1
n = 1

while n <= eded:
  h *= n
  n += 1

if eded == 0 or eded == 1:
  print(f'the factorial of {eded} is 1.')
else:

  print(f'{eded}! = ', end='')
  for i in range(1, eded+1):
    if i == eded:
      print(f"{i} = {h}")

    else:
      print(f'{i}*', end='')

1
the factorial of 1 is 1.

9) Write a program that calculates the sum of the digits of a given number. Ask the user to input a number

In [ ]:
num = int(input('enter an eded: '))
sum = 0
while num > 0:
  sum += num % 10
  num //= 10
print(sum)

enter an eded: 234
9

10) Write a Python program that takes a string input from the user and counts the number of characters in the string.

In [ ]:
text = input('enter a string input: ')
print(len(text))

enter a string input: salams
6